<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218282803966-32v570limp0tau6je51iho9lgg65pr7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218282803966-32v570limp0tau6je51iho9lgg65pr7j</string>
	<key>API_KEY</key>
	<string>AIzaSyBh1pTtZerygrePS65WbDStGflctlR3UkY</string>
	<key>GCM_SENDER_ID</key>
	<string>218282803966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFx</string>
	<key>PROJECT_ID</key>
	<string>chatfx-5bdd8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfx-5bdd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218282803966:ios:dc2837efbc44c8872f1baf</string>
	<key>DATABASE_URL</key>
	<string>https://chatfx-5bdd8.firebaseio.com</string>
</dict>
</plist>